################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/Debug/
/Release/
/Reader/Debug/
/Reader/Release/
/Reader/x64/Debug
/Reader/x64/Release
/x64/Debug
/x64/Release
.claude/
